p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;}
h1{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;}
ul{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
ol{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

body{background-color: rgb(255, 205, 144);
.obsessed{color: rgb(51, 6, 93);text-align: center;}
.obsessed{background-color: rgb(201, 210, 245);border-radius: 2cm;}
button{font-family: 'Courier New', Courier, monospace;color: rgb(48, 48, 191);border:3px dotted red;width: 100px;height: 100px;}

#fishdance{max-width: 200px;display: flex;}
#fishdance{border:4px solid orange}