
body{background-image: url('images/darkforest.jpg');background-size: 400vw auto; background-repeat: no-repeat;min-height: 200vh;}
p{color:rgb(3, 49, 18);
    font-family: 'Courier New', Courier, monospace;
background: whitesmoke;
text-align: center;}
h1{color:rgb(3, 48, 16);
    font-family: 'Courier New', Courier, monospace;
background: whitesmoke;
text-align: center;}

#fullmoon {
  position: absolute;
  top: 200px;
  left: 900px;
  z-index: 10;
  max-width: 200px;
  transition: filter 0.8s ease, transform 0.3s ease;
}


.glow {
  filter: drop-shadow(0 0 40px rgba(253, 253, 253, 0.9));
  transform: scale(1.05);
}


.bloodmoon {
  filter: drop-shadow(0 0 50px rgba(116, 0, 0, 0.8)) hue-rotate(-40deg);
  transform: scale(1.1);
}




#raven {
  position: absolute;
  top: 300px;
  left: 100px;
  z-index: 10;
  max-width: 300px;


}

#bite-button {
  position: relative;
  z-index: 1000;
  background-color: rgb(62, 7, 62);
  color: rgb(245, 245, 245);
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  left: 600px;
  margin-top: 50px;
}

#bite-button:hover {
  background-color: rgb(90, 15, 90);
}
#output {
  position: relative;
  top: 700px;
  width: 100%;
  text-align: center;
}